<div id="sidebar" class="col-1-3">
  <div class="wrap-col">
    <div class="box">
      <div class="heading"><h2>About us</h2></div>
      <div class="content">
        <!--<a href="#" target="_blank"><img src="images/zerotheme.jpg" style="border: 0px;"/></a>-->
        <p>Free Html5 Templates created by <a href="#">Zerotheme</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
      </div>
    </div>
    <div class="box">
      <div class="heading"><h2>Categories</h2></div>
      <div class="content">
        <ul>
          <% # TODO 加缓存
            categories = Category.all
          %>
          <% categories.each do |category| %>
            <li><%= link_to category.name, "/articles?category_id=#{category.id}" %>(<%= category.articles.count %>)</li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="heading"><h2>Popular Post</h2></div>
      <div class="content">
        <%  # TODO 加缓存
          popular_articles = Article.populars
        %>
        <% popular_articles.each do |article| %>
          <div class="post">
            <img src="<%= article.gallery.image.normal.url %>", width="50", alt="<%= article.gallery.alt %>" />
            <h4><%= link_to article.title, article_path(article) %></h4>
            <p><%= article.updated_at.to_s(:db) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
