<% provide(:title, "Gallery show") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @gallery.image.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @gallery.alt %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
